In [1]:
import pandas as pd
import random

df = pd.read_csv('csv/2018.csv')
#replace all suppresed values with 0
df.replace(-999, 0, inplace=True)
df['total_without_suppresed_values'] = df['Study_at_home'] + df['Drive_a_car_truck_or_van'] + df['Passenger_in_a_car_truck_or_van'] + df['Train'] + df['Bicycle'] + df['Walk_or_jog'] + df['School_bus'] + df['Public_bus'] + df['Ferry'] + df['Other']
df['total_without_suppresed_values']

0        144
1        138
2         54
3         42
4         18
        ...
22425     66
22426      0
22427      0
22428      6
22429     51
Name: total_without_suppresed_values, Length: 22430, dtype: int64

,address_code,address,address_easting,address_northing,school_address_code,school_address,school_easting,school_northin,Study_at_home,Drive_a_car_truck_or_van,Passenger_in_a_car_truck_or_van,Train,Bicycle,Walk_or_jog,School_bus,Public_bus,Ferry,Other,Total,total_without_suppresed_values
0,100100,North Cape,1579396.081,6181775.249,100100,North Cape,1579396.081,6181775.249,27,0,45,0,0,12,60,0,0,0,147,144
1,100200,Rangaunu Harbour,1612554.651,6136232.766,100200,Rangaunu Harbour,1612554.651,6136232.766,54,0,42,0,0,0,42,0,0,0,147,138
2,100400,Karikari Peninsula,1634562.574,6127415.055,100400,Karikari Peninsula,1634562.574,6127415.055,12,0,18,0,0,0,24,0,0,0,54,54
3,100500,Tangonge,1619918.067,6113278.371,100500,Tangonge,1619918.067,6113278.371,15,0,12,0,0,0,15,0,0,0,45,42
4,100600,Ahipara,1614655.612,6109255.026,100600,Ahipara,1614655.612,6109255.026,9,0,9,0,0,0,0,0,0,0,27,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22425,201400,Owhata East,1889063.588,5773749.837,201500,Lynmore,1888212.350,5772494.905,0,0,45,0,15,6,0,0,0,0,69,66
22426,328600,Aranui,1576181.215,5182438.834,330800,St Martins,1572050.696,5177246.086,0,0,0,0,0,0,0,0,0,0,6,0
22427,345800,Teviot Valley,1321238.212,4946150.612,345600,Alexandra South,1315613.328,4982651.229,0,0,0,0,0,0,0,0,0,0,6,0
22428,307300,Woodbourne,1675384.761,5401921.874,308200,Redwoodtown West,1679135.141,5401975.780,0,0,6,0,0,0,0,0,0,0,6,6
22429,331400,Hillsborough (Christchurch City),1573359.215,5176899.819,330900,Opawa,1572703.456,5177374.728,0,0,24,0,9,18,0,0,0,0,54,51

In [ ]:
#get lat long column for looping
centroid_df = pd.read_csv('./csv/statistical-area-2-2018-centroid-inside.csv')
coord = centroid_df.loc[:, 'latitude':'longitude']
coord.head()

In [ ]:
#function for adding a marker for each coord pair
def add_marker(map, lat, long):
    for lat, long in zip(lat, long):
        folium.Marker([lat, long], radius=1).add_to(map)

In [ ]:
#can use bokeh/vega/etc. to generate plot for each point on click!
import folium

#nzstat API to get the layer based on stat area 2018
source = "https://koordinates-tiles-a.global.ssl.fastly.net/services;key=3d78b0edcb904f298c10ff9d288d550b/tiles/v4/layer=92212/EPSG:3857/{z}/{x}/{y}.png"

#mapbox key to get their base map layer (not used below)
mapbox_key = 'pk.eyJ1IjoidGhhbmdwaGFtNzc5MyIsImEiOiJja2Jwb3VjangyYmE2MnJwZnhhbHR0aGUyIn0.nX_zeCSrkktjc3k148oQCA'

#create a base map with a center point and zoom level
m = folium.Map(location=[-34.50545276,172.77554997], zoom_start=5)

#add nzstats map on top of the base
folium.TileLayer(tiles=source, attr='Stat NZ Generalised SA 2018', overlay=True).add_to(m)

#add marker to the center of each area
add_marker(m, coord['latitude'], coord['longitude'])
m.save('sample.html')